body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  display: none;
}

input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 12px 18px;
  font-size: 1rem;
  flex-grow: 1;
}