* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 220px;
  margin-bottom: 8px;
}

button {
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 4px;
  margin-top: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.show-btn {
  background-color: #e7e7e7;
  color: #000;
  margin-left: 8px;
}

hr {
  margin-bottom: 10px;
  color: #e7e7e7;
  border: none;
}