.not-found-page {
  margin-top: 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80vh;
}

.not-found-page h1 {
  color: #ff0000;
}